@model Varga_Bogdan_Proiect.Models.ShopViewModels.MagazinIndexData
@{
    ViewData["Denumire"] = "Magazine";
}
<h2>Magazine</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Magazin Name</th>
            <th>Adress</th>
            <th>Costume</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Magazine)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["MagazinID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.MagazinName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{
                        foreach (var costum in item.MagazinCostume)
                        {
                            @costum.Costum.ID @: @costum.Costum.Denumire <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Costume != null)

{
    <h3>Books Published by Selected Publisher</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Costume)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["CostumID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { costumID = item.ID })
                </td>
                <td>
                    @item.Denumire
                </td>
                <td>
                    @item.Categorie
                </td>
                <td>
                    @item.Pret
                </td>
            </tr>
        }
    </table>
}
    @if (Model.Orders != null)
    {
        <h3>
            Customers that have ordered the Selected Costum
        </h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Order Date</th>
            </tr>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>
                        @item.Customer.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                </tr>
            }
        </table>
    }